.container {
  max-width: $desktop-width-max;
  padding: 0 15px;
  margin: 0 auto;

  // @media (max-width: $tablet-width) {
  //   padding: 0 45px;
  // }

  @media (max-width: $mobile-width) {
    max-width: auto;
    padding: 0 16px;
  }
}
